<main class="nexus-main">
	<section class="container-fluid">
		<article class="row">
			<form action="/summoner" class="nexus-form centered">
				<fieldset class="col-md-10 col-md-offset-1">
					<input type="text" class="form-control" name="summoner" placeholder="Search for your player" autofocus>
				</fieldset>
			</form>
		</article>
	</section>
</main>